<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/EstiloLogin.css">
</head>
<body>
    <header>
        <div>
            <h1>LChat</h1>
        </div>

        <div>
            <img src="/static/assets/image-Photoroom (3) 1.png" alt="">
        </div>
    </header>

    <form action="" class="conteudo" method="post">
        <input type="text" name="nome" placeholder="Nome de Usuário" required>
        <input type="password" name="senha" placeholder="Senha" required>

        <button type="submit">Entrar</button>

        <div class="faca_login">
            <p>Não possuí uma conta?</p> <a href="/cadastro">Cadastre-Se</a>
        </div>
    </form>
</body>
</html>